{% extends 'base.html' %}

{% block url %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('list_instructors')}}">Instructors</a>
</li>
{% endblock %}

{% block content %}
<h1>{% block title %} Create a New Instructor {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"
               placeholder="Instructor Name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="department">Department</label>
        <textarea name="department" placeholder="Department"
                  class="form-control">{{ request.form['department'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}